<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
          <h:outputText value="Pricelist"/>
        <h:dataTable var="prod" value="#{pricelistBean.productList}"  >
                
                  
               
 
                <h:column>
                    
                        <h:outputText  value="Name"/>
               
                    <h:outputText value="#{prod.name}"/>
                </h:column>
 
                <h:column>
                   
                        <h:outputText  value="Price"/>
                  
                    <h:outputText value="#{prod.price}"/>
                </h:column>
      </h:dataTable>

    </h:body>
</html>

